<a href="https://colab.research.google.com/github/CristhianSeverino/Data_Engeerig/blob/En-proceso/Aprende_PySpark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Quieres Aprender Pyspark🐱‍👤, con este Notebook lo Lograras**

> 🐱‍👓Este Notebook es creacion de: **Cristhian Calle Severino**.

**Si este Notebook te fue de ayuda, me encantaria saberlo**
**Diviertete Creando**☕

*   **Github**: https://github.com/CristhianSeverino
*   **Linkedin**: https://www.linkedin.com/in/cristhianandrescalleseverino/


>Este proyecto **Incluye:**😎

* Creacion de datos sinteticos. Se crea un data set normalizado. este datafrae. simula una tabla de hechos de un esquema estrella o copo de nive. Puedes usar tu creatividad para enriquecerlo.
* Para Disfrutar al maximo este Notebook. es indispensable tener conocimientos de:

1.   SQL y Python
2.   Arquitectura de datos
3.   Manipulacion de datos con python


* Si no Conoces de SQL y Python pasate por mi linkedin o mi Github. en el repositorio donde encontraste este notebook encontraras dos notebook que te ayudaran a entender la manipulacion de datos con Padas y como ejecutar consuktas con SQL

# **Instalacción E Importación de Librerias**

> verifica la instalación, desplegado la celda. despues de ejecutar deberia arrojar un prit de confirmacion🐱‍👓

In [2]:
!pip install faker
!pip install pandas sqlalchemy mysqlclient faker
!pip install ipython-sql==0.5.0 prettytable==3.9.0

print("="*150)
print(" "*50+"Librerias Instaladas ;)")
print("="*150)
from faker import Faker
import pandas as pd
from datetime import datetime, timedelta
import random
from sqlalchemy import create_engine
import numpy as np
import os as os
import locale


print("="*150)
print(" "*50+"Librerias Importadas ;)")
print("="*150)

%load_ext sql
print("="*150)
print(" "*50+"Extensión sql Cargada ;)")
print("="*150)

Collecting faker
  Downloading faker-37.8.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in /usr/local/lib/python3.12/dist-packages (from faker) (2025.2)
Downloading faker-37.8.0-py3-none-any.whl (2.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.0/2.0 MB 40.2 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-37.8.0
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (2.2.2)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.12/dist-packages (2.0.43)
Collecting mysqlclient
  Downloading mysqlclient-2.2.7.tar.gz (91 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 91.4/91.4 kB 4.1 MB/s eta 0:00:00
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Requirement already satisfied: faker in /usr/local/lib/python3.12/dist-packages (37.8.0)
Requirement already satisfied: numpy>=1.26.0 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas) (2025.2)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy) (4.15.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Building wheels for collected packages: mysqlclient
  Building wheel for mysqlclient (pyproject.toml) ... done
  Created wheel for mysqlclient: filename=mysqlclient-2.2.7-cp312-cp312-linux_x86_64.whl size=129065 sha256=d1455fc223d1e38d969f290cbbfdc4e5ea86e0c3de8efcfe9d7fc19e2440e5fd
  Stored in directory: /root/.cache/pip/wheels/27/95/18/7f176fffd46629e710c04c810b9c4d7d4358fe7c96a7d2306d
Successfully built mysqlclient
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.7
Requirement already satisfied: ipython-sql==0.5.0 in /usr/local/lib/python3.12/dist-packages (0.5.0)
Collecting prettytable==3.9.0
  Downloading prettytable-3.9.0-py3-none-any.whl.metadata (26 kB)
Requirement already satisfied: ipython in /usr/local/lib/python3.12/dist-packages (from ipython-sql==0.5.0) (7.34.0)
Requirement already satisfied: sqlalchemy>=2.0 in /usr/local/lib/python3.12/dist-packages (from ipython-sql==0.5.0) (2.0.43)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.12/dist-packages (from ipython-sql==0.5.0) (0.5.3)
Requirement already satisfied: six in /usr/local/lib/python3.12/dist-packages (from ipython-sql==0.5.0) (1.17.0)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.12/dist-packages (from ipython-sql==0.5.0) (0.2.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.12/dist-packages (from prettytable==3.9.0) (0.2.13)
Requirement already satisfied: greenlet>=1 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql==0.5.0) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.12/dist-packages (from sqlalchemy>=2.0->ipython-sql==0.5.0) (4.15.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql==0.5.0) (75.2.0)
Collecting jedi>=0.16 (from ipython->ipython-sql==0.5.0)
  Downloading jedi-0.19.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: decorator in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql==0.5.0) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql==0.5.0) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql==0.5.0) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql==0.5.0) (3.0.52)
Requirement already satisfied: pygments in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql==0.5.0) (2.19.2)
Requirement already satisfied: backcall in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql==0.5.0) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql==0.5.0) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.12/dist-packages (from ipython->ipython-sql==0.5.0) (4.9.0)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in /usr/local/lib/python3.12/dist-packages (from jedi>=0.16->ipython->ipython-sql==0.5.0) (0.8.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.12/dist-packages (from pexpect>4.3->ipython->ipython-sql==0.5.0) (0.7.0)
Downloading prettytable-3.9.0-py3-none-any.whl (27 kB)
Downloading jedi-0.19.2-py2.py3-none-any.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 39.9 MB/s eta 0:00:00
Installing collected packages: prettytable, jedi
  Attempting uninstall: prettytable
    Found existing installation: prettytable 3.16.0
    Uninstalling prettytable-3.16.0:
      Successfully uninstalled prettytable-3.16.0
Successfully installed jedi-0.19.2 prettytable-3.9.0
======================================================================================================================================================
                                                  Librerias Instaladas ;)
======================================================================================================================================================
======================================================================================================================================================
                                                  Librerias Importadas ;)
======================================================================================================================================================
======================================================================================================================================================
                                                  Extensión sql Cargada ;)
======================================================================================================================================================

# **Creación de Datos Sinteticos**

  * En las siguientes celdas usaremos una funcion parra crear nuestro dat set sintetico. Emularemos una empresa que distribuye material de osteosintesis a nivel America. con **3 headquarters**. Ubicados en **US**🐱‍🏍, **Chile**🐱‍👓 y **Colombia**🐱‍💻
  * Adaptalas acorde a lo que necesites o quieras crear.**Puedes agrandar los datasets, a tu gusto 😎**.
  *Si gustas agregar metricas u otro tipo de datos modifica la cuncion. Tambien puedes cmabiar de tipo de industria. atrevete a Crear y explorar🦾.

**Diviertete Explorando este Proyecto y creando con el. Prospero día ☕**

In [5]:
#=================================   Data Set Sintetico   =============================================
def generate_synthetic_dataset():
    """
    Esta Funcion Genera un dataset sintético de transacciones de ventas de materiales quirúrgicos de osteosíntesis.
    Simula ventas por un año (2024) equivalentes a 5 millones de dólares en total.
    Sucursales: 5 en ciudades clave de Colombia, Chile y Estados Unidos.
    """
    # Países y ciudades principales. Puedes Modificarl. Explora y crea
    countries = {
        'Colombia': ['Bogotá', 'Medellín', 'Cali'],
        'Chile': ['Santiago', 'Valparaíso', 'Concepción'],
        'Estados Unidos': ['New York', 'Los Angeles', 'Chicago']
    }

    # Seleccionar 5 sucursales en ciudades clave
    branches = [
        ('Colombia', 'Bogotá'),
        ('Colombia', 'Medellín'),
        ('Chile', 'Santiago'),
        ('Estados Unidos', 'New York'),
        ('Estados Unidos', 'Los Angeles')
    ]

    # 10 items ficticios de osteosíntesis
    items = [
        {'name': 'Titanium Bone Screw 4.5mm', 'stock_code': 'TBS045'},
        {'name': 'Locking Compression Plate 4.5mm', 'stock_code': 'LCP045'},
        {'name': 'Cortical Screw 3.5mm', 'stock_code': 'CS035'},
        {'name': 'DHS Screw 12.5mm', 'stock_code': 'DHSS125'},
        {'name': 'Intramedullary Nail 8mm', 'stock_code': 'IMN08'},
        {'name': 'Distal Femur Plate', 'stock_code': 'DFP'},
        {'name': 'Proximal Humerus Plate', 'stock_code': 'PHP'},
        {'name': 'Spinal Pedicle Screw', 'stock_code': 'SPS'},
        {'name': 'Bone Graft Substitute', 'stock_code': 'BGS'},
        {'name': 'Orthopedic Wire 1.25mm', 'stock_code': 'OW125'}
    ]

    # Clientes ficticios: 4 por sucursal (total 20 clínicas)
    clients = []
    for i, (country, city) in enumerate(branches):
        for j in range(4):
            client_id = f'CL_{i*4 + j + 1:03d}'
            clients.append({'client_id': client_id, 'branch': (country, city)})

    # Fechas aleatorias para un año (2024)
    start_date = datetime(2024, 1, 1)
    end_date = datetime(2024, 12, 31)
    dates = [start_date + timedelta(days=random.randint(0, 364)) for _ in range(10000)]  # Pool de fechas

    # Precios fijos por item (aleatorios entre 10-1000 USD)
    item_prices = {item['stock_code']: np.random.uniform(10, 1000) for item in items}

    # Generar datos transaccionales
    data = []
    sale_id = 1
    total_sales = 0
    target_sales = 5000000  # 5 millones USD - Puedes Hacer el rango de ventas mayor o meor ;)

    while total_sales < target_sales and len(data) < 50000:  # Límite para evitar bucles infinitos --> Ojo con esto. aqui ordenas cuantas ventas queires
        # Sucursal aleatoria
        country, city = random.choice(branches)
        headquarters = f'{city}, {country}'

        # Cliente aleatorio de esa sucursal
        branch_clients = [c for c in clients if c['branch'] == (country, city)]
        client = random.choice(branch_clients)['client_id']

        # Item aleatorio
        item = random.choice(items)
        name_item = item['name']
        stock_code = item['stock_code']
        price = item_prices[stock_code]

        # Cantidad aleatoria (1-50 unidades)
        unit = random.randint(1, 50)

        # Monto total de precios
        amount_prices = price * unit

        # Costo por unidad (20-70% del precio)
        cost_pct = random.uniform(0.2, 0.7)
        cost = price * cost_pct
        cost_amount = cost * unit

        # Utilidad operativa (monto precios - costo total)
        operative_utility = amount_prices - cost_amount

        # Fecha aleatoria
        date = random.choice(dates).strftime('%Y-%m-%d')

        data.append({
            'sale_id': sale_id,
            'name_item': name_item,
            'stock_code': stock_code,
            'headquarters': headquarters,
            'client_id': client,
            'date': date,
            'prices': round(price, 2),
            'unit': unit,
            'amount_prices': round(amount_prices, 2),
            'cost': round(cost, 2),
            'cost_amount': round(cost_amount, 2),
            'operative_utility': round(operative_utility, 2)
        })

        total_sales += amount_prices
        sale_id += 1

    # Si se excede el target, ajustar la última transacción proporcionalmente
    if total_sales > target_sales:
        overshoot = total_sales - target_sales
        last_row = data[-1]
        trim_factor = 1 - (overshoot / last_row['amount_prices'])
        last_row['unit'] *= trim_factor
        last_row['unit'] = max(1, round(last_row['unit']))  # Mínimo 1 unidad
        last_row['amount_prices'] = round(last_row['prices'] * last_row['unit'], 2)
        last_row['cost_amount'] = round(last_row['cost'] * last_row['unit'], 2)
        last_row['operative_utility'] = round(last_row['amount_prices'] - last_row['cost_amount'], 2)
        total_sales = target_sales

    # Crear DataFrame
    df = pd.DataFrame(data)
    df['date'] = pd.to_datetime(df['date'])
    df = df.sort_values('date').reset_index(drop=True)  # Ordenar por fecha

    print(f"Dataset generado: {len(df)} transacciones con ventas totales: ${total_sales:,.2f}")
    return df

**Ejecutar Funciones**

In [6]:
#=======================================   Ejecución de Funciones    =====================================

# 1. Generar los DataFrames con la función `generar_esquema_estrella`
df= generate_synthetic_dataset()
print("Iniciando la generación de los datos de negocio... 📈")
# 2. Mostrar las primeras filas del DataFrame
print("="*150)
print("Datos generados exitosamente. 🎉")
print(df.head())
print("="*150)
print(" "*50 + "Estadisticas Del DataSet")
print("="*150)
print(df.describe())

Dataset generado: 381 transacciones con ventas totales: $5,000,000.00
Iniciando la generación de los datos de negocio... 📈
======================================================================================================================================================
Datos generados exitosamente. 🎉
   sale_id                  name_item stock_code                 headquarters  \
0       28       Cortical Screw 3.5mm      CS035  Los Angeles, Estados Unidos
1      356      Bone Graft Substitute        BGS              Santiago, Chile
2      304    Intramedullary Nail 8mm      IMN08              Santiago, Chile
3      220           DHS Screw 12.5mm    DHSS125              Santiago, Chile
4      257  Titanium Bone Screw 4.5mm     TBS045  Los Angeles, Estados Unidos

  client_id       date  prices  unit  amount_prices    cost  cost_amount  \
0    CL_020 2024-01-01   83.65    41        3429.47   24.55      1006.51
1    CL_009 2024-01-02  926.30    29       26862.72  302.94      8785.40
2    CL_009 2024-01-02   22.58    11         248.36    4.61        50.66
3    CL_012 2024-01-03  696.52    49       34129.27  458.60     22471.57
4    CL_018 2024-01-04  899.06    20       17981.26  404.18      8083.65

   operative_utility
0            2422.96
1           18077.32
2             197.70
3           11657.70
4            9897.62
======================================================================================================================================================
                                                  Estadisticas Del DataSet
======================================================================================================================================================
          sale_id                           date      prices        unit  \
count  381.000000                            381  381.000000  381.000000
mean   191.000000  2024-07-01 13:02:21.732283392  508.370682   25.695538
min      1.000000            2024-01-01 00:00:00   22.580000    1.000000
25%     96.000000            2024-03-28 00:00:00   83.650000   14.000000
50%    191.000000            2024-07-11 00:00:00  696.520000   25.000000
75%    286.000000            2024-09-26 00:00:00  845.750000   40.000000
max    381.000000            2024-12-30 00:00:00  926.300000   50.000000
std    110.129469                            NaN  367.492578   14.658093

       amount_prices        cost   cost_amount  operative_utility
count     381.000000  381.000000    381.000000         381.000000
mean    13123.581575  225.920814   5698.269396        7425.312100
min        22.580000    4.530000      8.140000          11.470000
25%      2091.140000   41.610000    847.080000        1056.130000
50%      7858.780000  207.360000   3470.370000        4349.050000
75%     22231.220000  378.200000   9111.660000       11657.700000
max     46315.030000  645.040000  28025.990000       35248.890000
std     13104.534165  185.141539   6073.226759        8053.757847

In [7]:
df.to_csv('dataset_ventas_sintetico.csv', index=False)

# **DIVIERTE CREANDO🤗**

*Si este poyecto te fue de ayuda. pasa por mi linkedin y cuentame como te ayudo. ☕*

* **linkedink:** https://www.linkedin.com/in/cristhianandrescalleseverino/

He dejado Las siguientes celdas para que agregues tus consultas personalizadas, animate a **crear**.

***Ser cada día un 1% mejor es la clave 🔥***

# **PySpark**
##3 keys Questions... Las peguntas del millon de tazas de cafe🐱‍👓☕🐱‍👓
## **¿Que es?**

  Imagina que tienes una montaña de datos que analizar. PySpark es la herramienta que te permite procesarla de forma distribuida en miles de computadoras, como si tuvieras un ejército de robots trabajando para ti, en lugar de un solo robot muy lento.

##**¿Por que deberia aprenderlo?**

  Porque el Presente y el futuro son los datos a escala. PySpark te da la habilidad de manejar grandes volúmenes de información eficientemente, lo cual es esencial para construir modelos de Machine Learning, pipelines de datos y productos analíticos que no se ahogan en su propia información.

## **¿Que le suma PySpark a Mis Data-projects o Data Products?**

  Le añade velocidad y escalabilidad. PySpark no solo hace que tus proyectos no colapsen al crecer los datos, sino que te permite tomar decisiones basadas en análisis de datos masivos en minutos, en lugar de días, dándote una ventaja competitiva brutal.

____________
# **Primer ejercicio** Importar las librerias necesarias de Pyspark🐱‍🚀

>
from pyspark.sql import SparkSession

from pyspark.sql.functions import *

from pyspark.sql.types import *

from pyspark.sql.window import Window

In [8]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window
from pyspark.sql import functions as F

print("="*150)
print(" "*50+"Librerias Importadas ;)")
print("="*150)

======================================================================================================================================================
                                                  Librerias Importadas ;)
======================================================================================================================================================

____________
# **Segundo Ejercicio** iniciar Sesión en Pyspark usaremos el metodo **SparkSession.builder.appName** **.getOrCreate()**


> spark = SparkSession.builder.appName("Ejercicio").getOrCreate()

In [9]:
spark = SparkSession.builder.appName("Ejercicio").getOrCreate()

____________
# **Tercer Ejercicio** Crearemos Nuestro DataFrame df_spark.
El metodo es similar a crear un dataframe con pandas y cargaremos el data **frame con el csv de los datos generados usando**:


> df_spark = spark.read.csv("dataset_ventas_sintetico.csv", header=True, inferSchema=True)

> df_spark.show(5)  # Para verificar

In [10]:
df_spark = spark.read.csv("dataset_ventas_sintetico.csv", header=True, inferSchema=True)

df_spark.show(5) # Para verifica

+-------+--------------------+----------+--------------------+---------+----------+------+----+-------------+------+-----------+-----------------+
|sale_id|           name_item|stock_code|        headquarters|client_id|      date|prices|unit|amount_prices|  cost|cost_amount|operative_utility|
+-------+--------------------+----------+--------------------+---------+----------+------+----+-------------+------+-----------+-----------------+
|     28|Cortical Screw 3.5mm|     CS035|Los Angeles, Esta...|   CL_020|2024-01-01| 83.65|  41|      3429.47| 24.55|    1006.51|          2422.96|
|    356|Bone Graft Substi...|       BGS|     Santiago, Chile|   CL_009|2024-01-02| 926.3|  29|     26862.72|302.94|     8785.4|         18077.32|
|    304|Intramedullary Na...|     IMN08|     Santiago, Chile|   CL_009|2024-01-02| 22.58|  11|       248.36|  4.61|      50.66|            197.7|
|    220|    DHS Screw 12.5mm|   DHSS125|     Santiago, Chile|   CL_012|2024-01-03|696.52|  49|     34129.27| 458.6|   22471.57|          11657.7|
|    257|Titanium Bone Scr...|    TBS045|Los Angeles, Esta...|   CL_018|2024-01-04|899.06|  20|     17981.26|404.18|    8083.65|          9897.62|
+-------+--------------------+----------+--------------------+---------+----------+------+----+-------------+------+-----------+-----------------+
only showing top 5 rows

Debes poder ver el Head del Data Frame 😎
*  Ten en cuenta: nuestro data frame que usaremos en los siguientes ejericicos se llama: **df_spark**

____________
# **Cuarto Ejercicio** Filtrado y Selección.
Practicar filtrado y selección de columnas.
Instrucciones: Filtra ventas donde operative_utility > 100 y selecciona sale_id, name_item, operative_utility. Agrupa por name_item y cuenta las ventas.

>filtered_df = df.filter(col("operative_utility") > 100).select("sale_id", "name_item", "operative_utility")

>filtered_df.groupBy("name_item").agg(count("*").alias("total_sales")).show()

>filtered_df.groupBy("name_item").agg(sum("operative_utility").alias("total_operative_utility")).show()

In [11]:
filtered_df = df_spark.filter(col("operative_utility") > 100).select("sale_id", "name_item", "operative_utility")

filtered_df.groupBy("name_item").agg(count("*").alias("total_sales")).show()
filtered_df.groupBy("name_item").agg(sum("operative_utility").alias("total_operative_utility")).show()

+--------------------+-----------+
|           name_item|total_sales|
+--------------------+-----------+
|Bone Graft Substi...|         45|
|Orthopedic Wire 1...|         30|
|Locking Compressi...|         33|
|  Distal Femur Plate|         44|
|Cortical Screw 3.5mm|         40|
|Proximal Humerus ...|         33|
|Intramedullary Na...|         31|
|Spinal Pedicle Screw|         37|
|Titanium Bone Scr...|         41|
|    DHS Screw 12.5mm|         37|
+--------------------+-----------+

+--------------------+-----------------------+
|           name_item|total_operative_utility|
+--------------------+-----------------------+
|Bone Graft Substi...|               590470.1|
|Orthopedic Wire 1...|               32887.36|
|Locking Compressi...|      68097.54999999999|
|  Distal Femur Plate|              526726.99|
|Cortical Screw 3.5mm|      51045.91999999999|
|Proximal Humerus ...|      400037.0499999999|
|Intramedullary Na...|     11322.560000000003|
|Spinal Pedicle Screw|              196825.43|
|Titanium Bone Scr...|              553859.51|
|    DHS Screw 12.5mm|              397233.87|
+--------------------+-----------------------+

____________
# **Quinto Ejercicio** Agregaciones Complejas.
**Domina agregaciones para análisis de negocio.**

Instrucciones: Agrupa por headquarters y calcula el promedio de prices, suma de amount_prices y máximo de operative_utility. Ordena por suma descendente.

>   agg_df = df_spark.groupBy("headquarters").agg(
    avg("prices").alias("avg_price"),
    sum("amount_prices").alias("total_amount"),
    max("operative_utility").alias("max_utility")
      ).orderBy(col("total_amount").desc())
      agg_df.show()

In [12]:
agg_df = df_spark.groupBy("headquarters").agg(
    avg("prices").alias("avg_price"),
    sum("amount_prices").alias("total_amount"),
    max("operative_utility").alias("max_utility")
).orderBy(col("total_amount").desc())
agg_df.show()

+--------------------+------------------+------------------+-----------+
|        headquarters|         avg_price|      total_amount|max_utility|
+--------------------+------------------+------------------+-----------+
|  Medellín, Colombia| 535.2940449438202|1334456.5999999994|    30703.8|
|     Santiago, Chile| 543.6455555555556|1027604.4799999997|   30314.25|
|    Bogotá, Colombia|485.42239436619735| 934485.4399999998|   35248.89|
|Los Angeles, Esta...| 500.4960000000001| 926973.6900000001|   32283.14|
|New York, Estados...|469.57840579710177| 776564.3700000001|   31852.31|
+--------------------+------------------+------------------+-----------+

____________
# **Sexto Ejercicio** Manejo de Valores Faltantes 👀.
**Detectar y manejar datos incompletos.**

Instrucciones: Identifica nulos en cost y operative_utility, rellena con el promedio de cada columna y elimina duplicados por sale_id.

## Manejo de Nulos🐱‍👤

> null_counts = df_spark.select(
    sum(col("cost").isNull().cast("int")).alias("cost"),
    sum(col("operative_utility").isNull().cast("int")).alias("operative_utility")
)
>print("Los Valores Nulos Detectados Son")

>null_counts.show()

## Calcular promedios mean_cost and mean_utility 🧮
>mean_cost = df_spark.select(avg("cost")).collect()[0][0]

>mean_utility = df_spark.select(avg("operative_utility")).collect()[0][0]

>print("="*150)

>print(f"Media de 'cost': {mean_cost}")

>print(f"Media de 'operative_utility': {mean_utility}")

>print("="*150)

## Rellenar nulos y eliminar duplicados🎫

> clean_df = df_spark.fillna({"cost": mean_cost, "operative_utility": mean_utility}).drop_duplicates(["sale_id"])

>clean_df.show()


**Verifica el print de salida al ejecutar**

In [13]:
null_counts = df_spark.select(
    sum(col("cost").isNull().cast("int")).alias("cost"),
    sum(col("operative_utility").isNull().cast("int")).alias("operative_utility")
)
print("Los Valores Nulos Detectados Son")
null_counts.show()

# 2. Calcular las medias

mean_cost = df_spark.select(avg("cost")).collect()[0][0]
mean_utility = df_spark.select(avg("operative_utility")).collect()[0][0]
print("="*150)
print(f"Media de 'cost': {mean_cost}")
print(f"Media de 'operative_utility': {mean_utility}")
print("="*150)

# 3. Rellenar nulos y eliminar duplicados

clean_df = df_spark.fillna({"cost": mean_cost, "operative_utility": mean_utility}).drop_duplicates(["sale_id"])

clean_df.show()

Los Valores Nulos Detectados Son
+----+-----------------+
|cost|operative_utility|
+----+-----------------+
|   0|                0|
+----+-----------------+

======================================================================================================================================================
Media de 'cost': 225.92081364829386
Media de 'operative_utility': 7425.312099737535
======================================================================================================================================================
+-------+--------------------+----------+--------------------+---------+----------+------+----+-------------+------+-----------+-----------------+
|sale_id|           name_item|stock_code|        headquarters|client_id|      date|prices|unit|amount_prices|  cost|cost_amount|operative_utility|
+-------+--------------------+----------+--------------------+---------+----------+------+----+-------------+------+-----------+-----------------+
|      1|Locking Compressi...|    LCP045|Los Angeles, Esta...|   CL_018|2024-04-15|153.14|  32|      4900.42| 102.5|    3280.06|          1620.35|
|      2|Proximal Humerus ...|       PHP|New York, Estados...|   CL_013|2024-11-08|845.75|  20|     16915.06|521.95|    10438.9|          6476.16|
|      3|    DHS Screw 12.5mm|   DHSS125|Los Angeles, Esta...|   CL_018|2024-05-11|696.52|  23|     16019.86|207.36|    4769.33|         11250.53|
|      4|Proximal Humerus ...|       PHP|     Santiago, Chile|   CL_012|2024-05-12|845.75|   5|      4228.76|528.36|     2641.8|          1586.96|
|      5|Proximal Humerus ...|       PHP|New York, Estados...|   CL_016|2024-10-15|845.75|   8|      6766.02|538.23|    4305.82|           2460.2|
|      6|    DHS Screw 12.5mm|   DHSS125|Los Angeles, Esta...|   CL_019|2024-05-10|696.52|  27|     18805.93| 395.8|   10686.57|          8119.35|
|      7|  Distal Femur Plate|       DFP|     Santiago, Chile|   CL_012|2024-10-17|832.77|  14|     11658.83|543.74|    7612.34|          4046.49|
|      8|Titanium Bone Scr...|    TBS045|  Medellín, Colombia|   CL_005|2024-05-14|899.06|  41|     36861.59|404.98|   16604.38|         20257.21|
|      9|Cortical Screw 3.5mm|     CS035|  Medellín, Colombia|   CL_006|2024-09-16| 83.65|  46|       3847.7| 55.06|    2532.81|          1314.88|
|     10|Cortical Screw 3.5mm|     CS035|  Medellín, Colombia|   CL_006|2024-03-02| 83.65|   6|       501.87| 20.89|     125.31|           376.56|
|     11|    DHS Screw 12.5mm|   DHSS125|Los Angeles, Esta...|   CL_019|2024-08-13|696.52|  41|     28557.15|258.77|   10609.45|         17947.69|
|     12|Locking Compressi...|    LCP045|Los Angeles, Esta...|   CL_019|2024-09-07|153.14|  21|       3215.9|103.32|    2169.65|          1046.25|
|     13|Intramedullary Na...|     IMN08|New York, Estados...|   CL_016|2024-05-20| 22.58|  42|       948.28|  6.63|     278.36|           669.92|
|     14|Locking Compressi...|    LCP045|     Santiago, Chile|   CL_010|2024-12-01|153.14|  45|      6891.21| 78.26|    3521.79|          3369.42|
|     15|Proximal Humerus ...|       PHP|New York, Estados...|   CL_014|2024-05-31|845.75|  26|     21989.57|275.06|    7151.58|          14838.0|
|     16|  Distal Femur Plate|       DFP|  Medellín, Colombia|   CL_007|2024-10-06|832.77|  10|      8327.73| 378.4|    3783.97|          4543.77|
|     17|Intramedullary Na...|     IMN08|Los Angeles, Esta...|   CL_017|2024-05-29| 22.58|  40|       903.13|  6.34|     253.76|           649.37|
|     18|Spinal Pedicle Screw|       SPS|  Medellín, Colombia|   CL_008|2024-08-17|357.22|   5|      1786.09|240.05|    1200.23|           585.85|
|     19|Cortical Screw 3.5mm|     CS035|Los Angeles, Esta...|   CL_019|2024-06-16| 83.65|  36|      3011.24| 42.75|    1538.93|          1472.31|
|     20|  Distal Femur Plate|       DFP|New York, Estados...|   CL_014|2024-10-24|832.77|  47|     39140.35| 292.5|   13747.52|         25392.82|
+-------+--------------------+----------+--------------------+---------+----------+------+----+-------------+------+-----------+-----------------+
only showing top 20 rows

____________
# **Septimo Ejercicio** Pyspark SQL para Consultas Complejas 👀.
**Usar SQL en PySpark para análisis avanzado.**

Instrucciones: Identifica nulos en cost y operative_utility, rellena con el promedio de cada columna y elimina duplicados por sale_id.

## Creamos la vista(view)🐱‍👤

> df_spark.createOrReplaceTempView("view_sales")

## Creamos la Consulta SQL 🧮
sql_df = spark.sql("""
    SELECT
        headquarters,
        SUM(operative_utility) as total_utility
    FROM view_sales
    WHERE unit > 10
    GROUP BY headquarters
    HAVING total_utility > 1000
    ORDER BY total_utility DESC
""")

## Mostrar el resultado💻

> sql_df.show()


**Verifica el print de salida al ejecutar**

In [14]:
df_spark.createOrReplaceTempView("view_sales")

sql_df = spark.sql("""
    SELECT
        headquarters,
        SUM(operative_utility) as total_utility
    FROM view_sales
    WHERE unit > 10
    GROUP BY headquarters
    HAVING total_utility > 1000
    ORDER BY total_utility DESC
""")

# Mostrar el resultado
sql_df.show()

+--------------------+-----------------+
|        headquarters|    total_utility|
+--------------------+-----------------+
|  Medellín, Colombia|711761.3600000001|
|    Bogotá, Colombia|        547963.71|
|     Santiago, Chile|526529.9799999999|
|Los Angeles, Esta...|501092.5600000001|
|New York, Estados...|434947.8000000001|
+--------------------+-----------------+

____________
# **Octavo Ejercicio** Fuciones de ventana 👀.
**Usar window functions para rankings y acumulativos**

Instrucciones: Calcula el ranking de ventas por operative_utility dentro de cada headquarters y el total acumulado de amount_prices.

## Creamosla consulta spark.sql🐱‍🐉

>sql_funtion_df = spark.sql("""
    SELECT
        *,
        RANK() OVER (PARTITION BY headquarters ORDER BY operative_utility DESC) as utility_rank,
        SUM(operative_utility) OVER (PARTITION BY headquarters ORDER BY date ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) as cumulative_utility
    FROM view_sales
""")


## Mostrar el resultado💻

> sql_funtion_df.show())


**Verifica el print de salida al ejecutar**

In [15]:
sql_funtion_df = spark.sql("""
    SELECT
        *,
        RANK() OVER (PARTITION BY headquarters ORDER BY operative_utility DESC) as utility_rank,
        SUM(operative_utility) OVER (PARTITION BY headquarters ORDER BY date ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW) as cumulative_utility
    FROM view_sales
""")

# Mostrar el resultado
sql_funtion_df.show()

+-------+--------------------+----------+----------------+---------+----------+------+----+-------------+------+-----------+-----------------+------------+------------------+
|sale_id|           name_item|stock_code|    headquarters|client_id|      date|prices|unit|amount_prices|  cost|cost_amount|operative_utility|utility_rank|cumulative_utility|
+-------+--------------------+----------+----------------+---------+----------+------+----+-------------+------+-----------+-----------------+------------+------------------+
|    105|Cortical Screw 3.5mm|     CS035|Bogotá, Colombia|   CL_001|2024-01-05| 83.65|  34|      2843.95|  40.8|    1387.14|          1456.81|          50|           1456.81|
|    244|Locking Compressi...|    LCP045|Bogotá, Colombia|   CL_002|2024-01-15|153.14|  42|       6431.8| 79.94|    3357.32|          3074.48|          43|           4531.29|
|    298|Bone Graft Substi...|       BGS|Bogotá, Colombia|   CL_003|2024-01-18| 926.3|  20|     18526.01|233.93|    4678.51|          13847.5|          15|          18378.79|
|    177|Cortical Screw 3.5mm|     CS035|Bogotá, Colombia|   CL_003|2024-01-24| 83.65|  11|        920.1| 41.26|     453.81|           466.29|          59|          18845.08|
|    235|Proximal Humerus ...|       PHP|Bogotá, Colombia|   CL_002|2024-01-27|845.75|   5|      4228.76|436.13|    2180.65|          2048.12|          46|           20893.2|
|    232|Intramedullary Na...|     IMN08|Bogotá, Colombia|   CL_002|2024-02-06| 22.58|  18|       406.41|  6.75|     121.42|           284.99|          63|21178.190000000002|
|     61|Bone Graft Substi...|       BGS|Bogotá, Colombia|   CL_004|2024-02-17| 926.3|  22|     20378.61|325.23|    7155.15|         13223.47|          16|          34401.66|
|    139|Bone Graft Substi...|       BGS|Bogotá, Colombia|   CL_002|2024-02-18| 926.3|  48|     44462.43|191.95|    9213.55|         35248.89|           1|          69650.55|
|    197|    DHS Screw 12.5mm|   DHSS125|Bogotá, Colombia|   CL_003|2024-02-21|696.52|  39|     27164.12|363.92|   14192.69|         12971.43|          17| 82621.98000000001|
|    300|    DHS Screw 12.5mm|   DHSS125|Bogotá, Colombia|   CL_003|2024-02-26|696.52|  15|     10447.74|296.95|    4454.29|          5993.45|          31| 88615.43000000001|
|    319|Intramedullary Na...|     IMN08|Bogotá, Colombia|   CL_004|2024-02-27| 22.58|  20|       451.56|  8.69|      173.8|           277.77|          64| 88893.20000000001|
|    368|  Distal Femur Plate|       DFP|Bogotá, Colombia|   CL_003|2024-03-05|832.77|  19|     15822.69|456.82|    8679.54|          7143.15|          26|          96036.35|
|    362|Spinal Pedicle Screw|       SPS|Bogotá, Colombia|   CL_001|2024-03-05|357.22|  44|     15717.55|211.04|    9285.96|          6431.59|          30|         102467.94|
|     44|  Distal Femur Plate|       DFP|Bogotá, Colombia|   CL_002|2024-03-10|832.77|  41|     34143.71|398.32|   16331.09|         17812.62|          11|         120280.56|
|    268|    DHS Screw 12.5mm|   DHSS125|Bogotá, Colombia|   CL_003|2024-03-12|696.52|   9|      6268.64|213.29|     1919.6|          4349.05|          37|         124629.61|
|    166|Intramedullary Na...|     IMN08|Bogotá, Colombia|   CL_004|2024-03-12| 22.58|  35|       790.24|   6.1|     213.65|           576.59|          56|          125206.2|
|    191|Locking Compressi...|    LCP045|Bogotá, Colombia|   CL_001|2024-03-12|153.14|   3|       459.41| 84.69|     254.07|           205.35|          69|         125411.55|
|    203|Bone Graft Substi...|       BGS|Bogotá, Colombia|   CL_002|2024-03-15| 926.3|  46|     42609.83|245.76|   11305.17|         31304.66|           2|         156716.21|
|    314|Cortical Screw 3.5mm|     CS035|Bogotá, Colombia|   CL_004|2024-03-17| 83.65|  25|      2091.14| 27.39|     684.75|          1406.39|          52|          158122.6|
|     31|  Distal Femur Plate|       DFP|Bogotá, Colombia|   CL_001|2024-03-20|832.77|  16|     13324.37|358.09|    5729.46|          7594.91|          23|         165717.51|
+-------+--------------------+----------+----------------+---------+----------+------+----+-------------+------+-----------+-----------------+------------+------------------+
only showing top 20 rows

____________
# **Noveo Ejercicio** Análisis de Series de Tiempo con Funciones de Ventana (Window Functions) 👀.
**Problema:**

Problema: Un analista de negocio te pide calcular la utilidad operativa promedio móvil de los últimos 7 días para cada headquarters de la empresa. Esto ayudará a identificar tendencias recientes en la rentabilidad.
### Guía:

* Asegúrate de que la columna date tenga el formato correcto (por ejemplo, DateType).

* Define una función de ventana que particione los datos por headquarters y ordene por date.

* Aplica un rango de ventana de 7 días (rowsBetween(-7, 0)) para incluir el día actual y los 7 días anteriores.

* Calcula el promedio (avg) de la columna operative_utility dentro de cada ventana y crea una nueva columna con el resultado.

## **Define la Ventana🐱‍👓**

>df_spark = df_spark.withColumn("date", F.to_date("date"))
>windowSpec = Window.partitionBy("headquarters").orderBy("date").rowsBetween(-7, 0)

## **Calcula la utilidad promedio movil🐱‍🐉**

df_spark_with_ma = df_spark.withColumn(
    "rolling_avg_utility_7d",
    F.avg("operative_utility").over(windowSpec)
)


## **Mostrar el resultado💻**

> df_spark_with_ma.select("date", "headquarters", "operative_utility", "rolling_avg_utility_7d").show(truncate=False)


**Verifica el print de salida al ejecutar**

In [16]:

df_spark = df_spark.withColumn("date", F.to_date("date"))

windowSpec = Window.partitionBy("headquarters").orderBy("date").rowsBetween(-7, 0)


df_spark_with_ma = df_spark.withColumn(
    "rolling_avg_utility_7d",
    F.avg("operative_utility").over(windowSpec)
)

df_spark_with_ma.select("date", "headquarters", "operative_utility", "rolling_avg_utility_7d").show(truncate=False)

+----------+----------------+-----------------+----------------------+
|date      |headquarters    |operative_utility|rolling_avg_utility_7d|
+----------+----------------+-----------------+----------------------+
|2024-01-05|Bogotá, Colombia|1456.81          |1456.81               |
|2024-01-15|Bogotá, Colombia|3074.48          |2265.645              |
|2024-01-18|Bogotá, Colombia|13847.5          |6126.263333333333     |
|2024-01-24|Bogotá, Colombia|466.29           |4711.27               |
|2024-01-27|Bogotá, Colombia|2048.12          |4178.64               |
|2024-02-06|Bogotá, Colombia|284.99           |3529.6983333333337    |
|2024-02-17|Bogotá, Colombia|13223.47         |4914.522857142858     |
|2024-02-18|Bogotá, Colombia|35248.89         |8706.31875            |
|2024-02-21|Bogotá, Colombia|12971.43         |10145.646249999998    |
|2024-02-26|Bogotá, Colombia|5993.45          |10510.5175            |
|2024-02-27|Bogotá, Colombia|277.77           |8814.30125            |
|2024-03-05|Bogotá, Colombia|6431.59          |9559.96375            |
|2024-03-05|Bogotá, Colombia|7143.15          |10196.842499999999    |
|2024-03-10|Bogotá, Colombia|17812.62         |12387.79625           |
|2024-03-12|Bogotá, Colombia|576.59           |10806.936249999997    |
|2024-03-12|Bogotá, Colombia|205.35           |6426.493749999999     |
|2024-03-12|Bogotá, Colombia|4349.05          |5348.69625            |
|2024-03-15|Bogotá, Colombia|31304.66         |8512.5975             |
|2024-03-17|Bogotá, Colombia|1406.39          |8653.675              |
|2024-03-20|Bogotá, Colombia|375.99           |7896.724999999999     |
+----------+----------------+-----------------+----------------------+
only showing top 20 rows

____________
# **Decimo Ejercicio** Análisis de Utilidad por Sede y Mes👀🏛.
**Problema:**

Problema: Un stakeholder strategico, te pide calcular la utilidad operativa por sede y mes. Ademas agrega que seria de gran valor que se filtrara previamente por el top 5 de productos.

### Guía:

* Filtrado por Año: Mantén el filtro inicial para procesar solo los datos del año 2024.

* Extracción del Mes: Usa la función integrada de Spark F.month() para extraer el mes de la columna date. Esto creará una nueva columna o se usará directamente en el groupBy.

* Agregación por Granularidad: Agrupa tus datos por las columnas headquarters, month y name_item para calcular la suma de la operative_utility a nivel mensual por producto y sede.

* Función de Ventana: Redefine la Window Spec para que las particiones se realicen por la combinación de headquarters y month. Esto asegura que el ranking de los productos se reinicie y se calcule de forma independiente para cada mes y sede.

* Filtro Final: Filtra el DataFrame resultante para mantener solo los registros con un rank igual o menor a 5.



## **Filtrar por año objetivo en este caso 2024🐱‍👓**

>df_2024 = df_spark.filter(F.year(F.col("date")) == 2024)

## **Agrupa y calcula la utilidad total por sede, mes y producto🐱‍🐉**

>df_profitability = df_2024.groupBy("headquarters", F.month(F.col("date")).alias("month"), "name_item") \
                         .agg(F.sum("operative_utility").alias("total_utility"))


## **Define y  particiona por 'headquarters' y 'month' la ventana. Para una clasificación mensua💻**

> windowSpec = Window.partitionBy("headquarters", "month").orderBy(F.desc("total_utility"))

## **Aplica la función de clasificación📋**
>df_ranked = df_profitability.withColumn("rank", F.rank().over(windowSpec))

## **Filtra para obtener los 5 productos más rentables por sede y mes🧭**
>df_top_5_monthly = df_ranked.filter(F.col("rank") <= 5)

## **Muestra el resultado☕**
>df_top_5_monthly.show(truncate=False)*

## **Opcional guardar en formato parquet💾**
>df_top_5_monthly.write.partitionBy("headquarters", "month").parquet("ruta/a/datos_optimizados_mensuales")

**Verifica el print de salida al ejecutar**

In [17]:
df_2024 = df_spark.filter(F.year(F.col("date")) == 2024)


df_profitability = df_2024.groupBy("headquarters", F.month(F.col("date")).alias("month"), "name_item") \
                         .agg(F.sum("operative_utility").alias("total_utility"))


windowSpec = Window.partitionBy("headquarters", "month").orderBy(F.desc("total_utility"))


df_ranked = df_profitability.withColumn("rank", F.rank().over(windowSpec))


df_top_5_monthly = df_ranked.filter(F.col("rank") <= 5)

df_top_5_monthly.show(truncate=False)

+----------------+-----+-------------------------------+------------------+----+
|headquarters    |month|name_item                      |total_utility     |rank|
+----------------+-----+-------------------------------+------------------+----+
|Bogotá, Colombia|1    |Bone Graft Substitute          |13847.5           |1   |
|Bogotá, Colombia|1    |Locking Compression Plate 4.5mm|3074.48           |2   |
|Bogotá, Colombia|1    |Proximal Humerus Plate         |2048.12           |3   |
|Bogotá, Colombia|1    |Cortical Screw 3.5mm           |1923.1            |4   |
|Bogotá, Colombia|2    |Bone Graft Substitute          |48472.36          |1   |
|Bogotá, Colombia|2    |DHS Screw 12.5mm               |18964.88          |2   |
|Bogotá, Colombia|2    |Intramedullary Nail 8mm        |562.76            |3   |
|Bogotá, Colombia|3    |Distal Femur Plate             |32550.679999999997|1   |
|Bogotá, Colombia|3    |Bone Graft Substitute          |31304.66          |2   |
|Bogotá, Colombia|3    |DHS Screw 12.5mm               |24580.489999999998|3   |
|Bogotá, Colombia|3    |Spinal Pedicle Screw           |6431.59           |4   |
|Bogotá, Colombia|3    |Cortical Screw 3.5mm           |3368.49           |5   |
|Bogotá, Colombia|4    |Spinal Pedicle Screw           |17284.95          |1   |
|Bogotá, Colombia|4    |Distal Femur Plate             |3804.24           |2   |
|Bogotá, Colombia|5    |Distal Femur Plate             |52082.17          |1   |
|Bogotá, Colombia|5    |Locking Compression Plate 4.5mm|3539.16           |2   |
|Bogotá, Colombia|6    |Distal Femur Plate             |20376.18          |1   |
|Bogotá, Colombia|6    |Bone Graft Substitute          |13253.38          |2   |
|Bogotá, Colombia|6    |Orthopedic Wire 1.25mm         |2009.92           |3   |
|Bogotá, Colombia|6    |Cortical Screw 3.5mm           |1254.0            |4   |
+----------------+-----+-------------------------------+------------------+----+
only showing top 20 rows

# **DIVIERTE CREANDO🤗**

*Si este poyecto te fue de ayuda. pasa por mi linkedin y cuentame como te ayudo. ☕*

* **linkedink:** https://www.linkedin.com/in/cristhianandrescalleseverino/

He dejado Las siguientes celdas para que agregues tus consultas personalizadas, animate a **crear**.

***Ser cada día un 1% mejor es la clave 🔥***

>Respositorio donde encontraras mas Recursos de aprendizaje: https://github.com/CristhianSeverino/Data_Engeerig.git