<a href="https://colab.research.google.com/github/CristhianSeverino/Data_Engeerig/blob/En-proceso/Aprende_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Quieres Pacticar o Aprender Pandas?**
*Usa este Notebook y Mejoraras un 1% Cada dia*

---


> Este Notebook es creacion de: **Cristhian Calle Severino**.

**Si este Notebook te fue de ayuda, me encantaria saberlo**

***Diviertete Creando***‚òï

*   **Github**: https://github.com/CristhianSeverino
*   **Linkedin**: https://www.linkedin.com/in/cristhianandrescalleseverino/


>Este proyecto **Incluye:**üòé

* Creacion de datos sinteticos. Se crea un data set sintetico usando faker.Estee s un diagrama simple de una sola tabla.üíª
* Crea el Data frame e implementa metodos. Al final de este Notebook, descubriras como exportar el DataFrame a CSV üßÆ
* Incluye Resopuesta correcta y Prueba.üß≠

# **Instalacci√≥n E Importaci√≥n de Librerias**

In [1]:
!pip install faker
print("="*150)
print(" "*50+"Librerias Instaladas ;)")
print("="*150)
from faker import Faker
import pandas as pd
from datetime import datetime
import random
from sqlalchemy import create_engine
import numpy as np
import os as os
import locale


print("="*150)
print(" "*50+"Librerias Importadas ;)")
print("="*150)

Collecting faker
  Downloading faker-37.6.0-py3-none-any.whl.metadata (15 kB)
Requirement already satisfied: tzdata in /usr/local/lib/python3.12/dist-packages (from faker) (2025.2)
Downloading faker-37.6.0-py3-none-any.whl (1.9 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 1.9/1.9 MB 25.5 MB/s eta 0:00:00
Installing collected packages: faker
Successfully installed faker-37.6.0
======================================================================================================================================================
                                                  Librerias Instaladas ;)
======================================================================================================================================================
======================================================================================================================================================
                                                  Librerias Importadas ;)
======================================================================================================================================================

# **Creaci√≥n de Datos Sinteticos**

  * El presente notebook y sus ejercicios de **Pandas**üêº se basan en un data set creado con **datos sinteticos**. en este apartado encontraras las **funciones y la ejecucion de las funciones** que lo hacen posible.
  * Adaptalas acorde a lo que necesites o quieras crear.**Puedes agrandar los datasets, a tu gusto üòé**.
  * En Este Proyecto Se Creara solo Una Tabla.

>**Visita Mi GitHub Para ver proyectos de datos sinteticos, como usarlos, agregar mas tablas modificarlos.**

**Diviertete Explorando este Proyecto y creando con el. Prospero d√≠a ‚òï**

Despliega y analiza cada parte del siguiente codigo...

In [5]:
#================================= ¬† Generar Diagrama Estrella ¬† =============================================
# Modifica num_filas_hechos segun necesidad
def generar_datos(num_filas_hechos=50000):
    fake = Faker('es_CO')



    # 1 Dimensi√≥n cliente: Simula datos base del cliente
    dim_cliente_data = []
    ids_usados = set()
    num_clientes = 10000  # Definimos el n√∫mero de clientes
    while len(dim_cliente_data) < num_clientes:  # Usamos num_clientes en el bucle
        id_candidato = fake.random_int(min=1000000000, max=1000100000)
        if id_candidato not in ids_usados:
            ids_usados.add(id_candidato)
            dim_cliente_data.append({
                'id_cliente': id_candidato,
                'nombre': fake.name(),
                'categoria': fake.random_element(['BtoB', 'BtoC']),
                'correo': fake.email(),
                'edad': fake.random_int(min=18, max=45),  # Reemplazamos fecha_nacimiento por edad
                'telefono': fake.phone_number(),
            })
    dim_cliente = pd.DataFrame(dim_cliente_data)

    return dim_cliente

**Ejecutar Funciones**

In [7]:
#=======================================   Ejecuci√≥n de Funciones    =====================================

# 1. Generar los DataFrames con la funci√≥n `generar_esquema_estrella`

print("Iniciando la generaci√≥n de los datos de negocio... üìà")

# Puedes ajustar el n√∫mero de filas de la tabla de hechos aqu√≠
dim1 = generar_datos(num_filas_hechos=100000)

print("Datos generados exitosamente. üéâ")



print("Carga completa. ‚úÖ")

Iniciando la generaci√≥n de los datos de negocio... üìà
Datos generados exitosamente. üéâ
Carga completa. ‚úÖ

# **Ejercicios Pandas**

**Despliega**
> Aqui encontraras  ejercicios basicos de **Pandas**üêº. sientete libre de a√±adir celdas y crear ejercicios mas complejas. **Hazte las Siguientes Preguntas:**

* ¬øSi fuera un ingeiero de datos, Ceientifico de Datos o Aalista de datos, que Informacion deberia buscar en estos datos?.
* ¬øQue informacion analizaria en busca de insights de alto valor?.
* ¬øComo Accedo a dicha Informacion?


**Este Notebook ees Para Practicar Fundamentos de Pandas**

Asignamos el dataframe Creado Co datos sinteticos a nuestro Data Frame para ejercitar con Pandasü¶æ
>La forma de crear un dataframe es usando el metodo pd.DataFrame(Nombre_variable)
Como ya lo creamos, simplemente lo asignnamos usando:
* aprenderdf=dim1

In [8]:
aprenderdf=dim1

**1. Mostrar El DataFrame Completo**
> **Mostrar el DataFrame completo**

print("DataFrame completo:")

print(aprenderdf)

In [20]:
print("DataFrame completo:")
print(aprenderdf)

DataFrame completo:
      id_cliente                           nombre categoria  \
0     1000035878                     Doris Torres      BtoB
1     1000092369                Luisa Luz Becerra      BtoB
2     1000002924      Wilson Jos√© Miranda Londo√±o      BtoC
3     1000069179                  V√≠ctor Valencia      BtoC
4     1000035961              Jorge Bola√±os G√≥mez      BtoC
...          ...                              ...       ...
9995  1000007425       Danna Dary Mercado Ben√≠tez      BtoB
9996  1000057180  Alberto Gilberto Alfonso Garc√≠a      BtoC
9997  1000029700               Jorge L√≥pez Loaiza      BtoB
9998  1000077124             Adri√°n Ram√≠rez Rojas      BtoC
9999  1000060064           Eduardo Adolfo S√°nchez      BtoC

                         correo  edad             telefono
0      sandovalraul@example.net    32      (+57)3205505955
1       rivasangela@example.net    24        +573258391819
2       yanethgomez@example.com    23     57 309 561 38 67
3           ltorres@example.net    40  (+57) 314 014 96 85
4       munozismael@example.net    44           3051462557
...                         ...   ...                  ...
9995  eugeniaorozco@example.com    41      (+57)3024963483
9996          etoro@example.net    24  (+57) 311 773 41 88
9997          rtoro@example.com    44  (+57) 321 278 09 31
9998      nmonsalve@example.com    43      01 8003 749 029
9999     luisbedoya@example.com    32  (+57) 605 868 13 81

[10000 rows x 6 columns]

---
**2. Mostrar Primeras Filas**

> **Mostrar Primeras filas del DataFrame.head()**


 Ejemplo: Primeras 3 filas

print("Primeras 3 filas:")

print(aprenderdf.head(3))

In [21]:
print("Primeras 3 filas:")
print("="*25)
print(aprenderdf.head(3))

Primeras 3 filas:
=========================
   id_cliente                       nombre categoria  \
0  1000035878                 Doris Torres      BtoB
1  1000092369            Luisa Luz Becerra      BtoB
2  1000002924  Wilson Jos√© Miranda Londo√±o      BtoC

                     correo  edad          telefono
0  sandovalraul@example.net    32   (+57)3205505955
1   rivasangela@example.net    24     +573258391819
2   yanethgomez@example.com    23  57 309 561 38 67

------
**3. Mostrar Primeras Filas**
> **√öltimas filas del DataFrame.tail()**

print("\n√öltimas 3 filas:")

print("="*25)

print(aprenderdf.tail(3))

In [22]:
print("\n√öltimas 3 filas:")

print("="*25)

print(aprenderdf.tail(3))

√öltimas 3 filas:
=========================
      id_cliente                  nombre categoria                  correo  \
9997  1000029700      Jorge L√≥pez Loaiza      BtoB       rtoro@example.com
9998  1000077124    Adri√°n Ram√≠rez Rojas      BtoC   nmonsalve@example.com
9999  1000060064  Eduardo Adolfo S√°nchez      BtoC  luisbedoya@example.com

      edad             telefono
9997    44  (+57) 321 278 09 31
9998    43      01 8003 749 029
9999    32  (+57) 605 868 13 81

-----
**4. Mostrar informaci√≥n del DataFrame**
> **Mostrar Informaci√≥n del DataFrame.info**



print("Informaci√≥n del DataFrame:")

print("="*25)

aprenderdf.info()

In [23]:
print("Informaci√≥n del DataFrame:")
print("="*25)
aprenderdf.info()

Informaci√≥n del DataFrame:
=========================
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id_cliente  10000 non-null  int64
 1   nombre      10000 non-null  object
 2   categoria   10000 non-null  object
 3   correo      10000 non-null  object
 4   edad        10000 non-null  int64
 5   telefono    10000 non-null  object
dtypes: int64(2), object(4)
memory usage: 468.9+ KB

-----
5. **Estadisticas Descriptivas**
> **Estadisticas Descriptivas del DataFrame.describe()**

print("\nEstad√≠sticas:")

print("="*25)

print(aprenderdf.describe())

In [25]:
print("\nEstad√≠sticas:")

print("="*25)

print(aprenderdf.describe())

Estad√≠sticas:
=========================
         id_cliente          edad
count  1.000000e+04  10000.000000
mean   1.000050e+09     31.501600
std    2.879594e+04      8.056245
min    1.000000e+09     18.000000
25%    1.000025e+09     25.000000
50%    1.000050e+09     32.000000
75%    1.000075e+09     38.000000
max    1.000100e+09     45.000000

-----
6. **Estadisticas Descriptivas**
> ***¬°Pr√°ctica! Describe solo la columna 'Edad'***


print("\nTu pr√°ctica: Ponle un nombre que sea logico y te ayude en tu analisis")

print("="*25)

print(aprenderdf['edad'].describe())

In [30]:
print("\nTu pr√°ctica:")
print("="*25)

print(aprenderdf['edad'].describe())

Tu pr√°ctica:
=========================
count    10000.000000
mean        31.501600
std          8.056245
min         18.000000
25%         25.000000
50%         32.000000
75%         38.000000
max         45.000000
Name: edad, dtype: float64

-----
**7. Filtrar DataFrame**
> ***¬°Pr√°ctica! Filtrar solo la columna 'Edad' con los clientes Mayores a 24 a√±os***

print("Clientes mayores de 24:")

print("="*25)

print(aprenderdf[aprenderdf['edad'] >24])

In [32]:
print("Clientes mayores de 24:")

print("="*25)

print(aprenderdf[aprenderdf['edad'] >24])

Clientes mayores de 24:
=========================
      id_cliente                       nombre categoria  \
0     1000035878                 Doris Torres      BtoB
3     1000069179              V√≠ctor Valencia      BtoC
4     1000035961          Jorge Bola√±os G√≥mez      BtoC
6     1000052491  Camilo Juan C√°rdenas Torres      BtoC
7     1000025464  Yenny Edilma S√°nchez Pineda      BtoB
...          ...                          ...       ...
9994  1000009491            Mary Juana Ortega      BtoC
9995  1000007425   Danna Dary Mercado Ben√≠tez      BtoB
9997  1000029700           Jorge L√≥pez Loaiza      BtoB
9998  1000077124         Adri√°n Ram√≠rez Rojas      BtoC
9999  1000060064       Eduardo Adolfo S√°nchez      BtoC

                         correo  edad             telefono
0      sandovalraul@example.net    32      (+57)3205505955
3           ltorres@example.net    40  (+57) 314 014 96 85
4       munozismael@example.net    44           3051462557
6       castrooscar@example.com    42        607 787 52 27
7            rosa33@example.com    31    +57 606 334 66 29
...                         ...   ...                  ...
9994       galfonso@example.com    31        311 730 81 19
9995  eugeniaorozco@example.com    41      (+57)3024963483
9997          rtoro@example.com    44  (+57) 321 278 09 31
9998      nmonsalve@example.com    43      01 8003 749 029
9999     luisbedoya@example.com    32  (+57) 605 868 13 81

[7509 rows x 6 columns]

-----
**7. Filtrar DataFrame**
> ***¬°Pr√°ctica! Filtrar solo la columna 'categoria' con los clientes Mayores a 24 a√±os***

print("Estudiantes mayores de BtoC:")

print("="*25)

print(aprenderdf[aprenderdf['categoria'] =='BtoC'])

In [34]:
print("Estudiantes mayores de BtoC:")

print("="*25)

print(aprenderdf[aprenderdf['categoria'] =='BtoC'])

Estudiantes mayores de BtoC:
=========================
      id_cliente                           nombre categoria  \
2     1000002924      Wilson Jos√© Miranda Londo√±o      BtoC
3     1000069179                  V√≠ctor Valencia      BtoC
4     1000035961              Jorge Bola√±os G√≥mez      BtoC
6     1000052491      Camilo Juan C√°rdenas Torres      BtoC
9     1000047540          Jairo Manuel Le√≥n L√≥pez      BtoC
...          ...                              ...       ...
9993  1000060663            Alberto Rivera Sierra      BtoC
9994  1000009491                Mary Juana Ortega      BtoC
9996  1000057180  Alberto Gilberto Alfonso Garc√≠a      BtoC
9998  1000077124             Adri√°n Ram√≠rez Rojas      BtoC
9999  1000060064           Eduardo Adolfo S√°nchez      BtoC

                          correo  edad             telefono
2        yanethgomez@example.com    23     57 309 561 38 67
3            ltorres@example.net    40  (+57) 314 014 96 85
4        munozismael@example.net    44           3051462557
6        castrooscar@example.com    42        607 787 52 27
9     nataliaacevedo@example.com    39      (+57)3019099329
...                          ...   ...                  ...
9993         maria13@example.com    22        311 990 55 62
9994        galfonso@example.com    31        311 730 81 19
9996           etoro@example.net    24  (+57) 311 773 41 88
9998       nmonsalve@example.com    43      01 8003 749 029
9999      luisbedoya@example.com    32  (+57) 605 868 13 81

[5079 rows x 6 columns]

-----
**8. Ordenar DataFrame**
> ***¬°Pr√°ctica! Ordena por edad ascendente y luego por nombre***

print("\nTu pr√°ctica:")

print("="*25)

print(aprenderdf.sort_values(by=['edad', 'nombre'], ascending=True))

In [36]:
print("\nTu pr√°ctica:")

print("="*25)

print(aprenderdf.sort_values(by=['edad', 'nombre'], ascending=True))

Tu pr√°ctica:
=========================
      id_cliente                               nombre categoria  \
6695  1000019557           Adriana Roc√≠o Silva Castro      BtoC
934   1000064776                          Aida Su√°rez      BtoC
39    1000004659               Alba Gonz√°lez Mart√≠nez      BtoB
1387  1000013976     Albeiro Luis Guti√©rrez Benavides      BtoB
2681  1000011875  Albert Dagoberto Valderrama Herrera      BtoB
...          ...                                  ...       ...
831   1000011063                  √ìscar Camilo Su√°rez      BtoB
2890  1000083764                  √ìscar David Barrios      BtoB
8549  1000070781           √ìscar Diego Zuluaga Orozco      BtoB
63    1000021950                  √ìscar Eduardo Pardo      BtoC
6710  1000063901                  √ìscar √Ångel Mendoza      BtoB

                         correo  edad           telefono
6695   navarrocesar@example.com    18       018007032613
934       ivillegas@example.net    18  +57 309 487 09 93
39    andressanchez@example.com    18       573257807004
1387     fernanda26@example.net    18    (+57)3153105599
2681        pablo87@example.net    18      604 677 57 93
...                         ...   ...                ...
831     salazarjose@example.org    45      +573083696276
2890   aguilaryeimy@example.net    45    (+57)3211126240
8549       miguel35@example.net    45       573054887283
63     torreshector@example.com    45    (+57)6088346556
6710     ugutierrez@example.org    45         3277218301

[10000 rows x 6 columns]

-----
**9. Crear Funci√≥n**
> ***¬°Pr√°ctica! Crear una funci√≥n que aumente la edad de los cleinets en un a√±o***

def aumentar_edad(edad):
    return edad + 1


print("Edad aumentada:")
print("="*25)

print(aprenderdf['edad'].apply(aumentar_edad))

In [38]:
def aumentar_edad(edad):
    return edad + 1

print("Edad aumentada:")
print("="*25)
print(aprenderdf['edad'].apply(aumentar_edad))

Edad aumentada:
=========================
0       33
1       25
2       24
3       41
4       45
        ..
9995    42
9996    25
9997    45
9998    44
9999    33
Name: edad, Length: 10000, dtype: int64

-----
**9. Exportar Data Frame a CSV**
> ***¬°Pr√°ctica! Creando un CSV con tu DataFrame***

aprenderdf.to_csv('Mi_Primer_DataFrame.csv',index=False)
> **Si Ejecutas este Notebook en colab busca tu CSV en el icono de carpeta en el costado izquierdo**

In [44]:
aprenderdf.to_csv('Mi_Primer_DataFrame.csv',index=False)
print("="*25)
print("CSV Exportado con Exito")
print("="*25)
print("Busca tu CSV en el icono de carpeta en el costado izquierdoüíæ")
print("="*25)

=========================
CSV Exportado con Exito
=========================
Busca tu CSV en el icono de carpeta en el costado izquierdoüíæ
=========================

# **DIVIERTE CREANDOü§ó**

*Si este poyecto te fue de ayuda. pasa por mi linkedin y cuentame como te ayudo. ‚òï*

* **linkedink:** https://www.linkedin.com/in/cristhianandrescalleseverino/

He dejado Las siguientes celdas para que agregues tus propios ejericios o funciones, animate a **crear**.

***Ser cada d√≠a un 1% mejor es la clave üî•***



> Podrias agregar metricas a los clientes creados como total de gasto. ciudad en la que vive, Costos por clientes o Crear caracteristicas como Recencia.